*{
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto', sans-serif; 
    /* font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;*/
    
}

nav {
    width: 100%;
    height: auto;
    background-color: #002F62;
    padding: 0 100px;
    box-sizing: border-box;
}

nav h1 {
    margin: 0;
    padding: 18px 20px;
    float: left;
    color: #ffffff;
}

#logo{
    margin: 0;
    padding: 10px 20px;
    width: 45px;
    height: auto;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 30px;
    transition: .5%;
}

nav ul a li {
    color: #ffffff;
    text-decoration: none;
}

nav ul li:hover{
    background: #4CBED8;

}

header{
    background-image: url('../images/background.png');
    background-size: cover;                         /* La imagen de fondo cubre todo el espacio sin dejar huecos por su tamaÃ±o */
    /*height: 500px;*/
    padding: 70px 18%;
    box-sizing: border-box;
}

#frase{
    background-color: rgba(76, 190, 216, 0.7);
    color: #ffffff;
    padding: 10px 5px;
    text-align: center;
    font-size: 50px;
}

section.definicion{
    background: #C2D8F0;
    padding: 50px 10%;
}

section img {
    height: 250px;
}

section.definicion article {
    text-align: center;
    padding: 12px 470px 12px 0px;
}

section.definicion article h2 {
    padding: 25px 0;
    color: #001a36;
    font-size: 1.8em;
}

section.definicion article p {
    padding: 25px 30px;
    font-size: 1.2em;
}

section.implementacion{
    background: #E2E3E5;
    padding: 30px 18%;
}

section.implementacion article {
    text-align: center;
    padding: 30px 0px 30px 350px;
}

section.implementacion article h2 {
    padding: 17px 0;
    color: #000000;
    font-size: 1.8em;
}

section.implementacion article p {
    padding: 20px 30px;
    font-size: 1.2em;
}

section.implementacion img {
    border-radius: 45%;
}

.derecha {
    float: right;
}

.izquierda {
    float: left;
}

.TPS {
    background-image: url('../images/topography.png');
    padding: 30px 0;
    font-family: 'Poppins', sans-serif;
}

.TPS h2{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

.TPS article p {
    padding: 5px 10%;
    text-align: justify;
}

.caracteristicas {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .box{
    position: relative;
    width: 300px;
    padding: 25px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden; 
    text-align: center;
}

.container .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #ffffff;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.container .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #EE1D1D;
    background: #EE1D1D;
} 

.container .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #EE1D1D;
} 

.container .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #01A413;
    background: #01A413;
} 

.container .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #01A413;
} 

.container .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
} 

.container .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #2196f3;
} 

.container .box:nth-child(4) .icon {
    box-shadow: 0 0 0 0 #000000;
    background: #000000;
} 

.container .box:nth-child(4):hover .icon {
    box-shadow: 0 0 0 400px #000000;
}

.container .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container .box:hover .content {
    color: #ffffff;
}

.container .box .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container .box .content p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}

.MIS {
    background-image: url('../images/MIS.jpg');
    background-size: cover;                         /* La imagen de fondo cubre todo el espacio sin dejar huecos por su tamaÃ±o */
    height: 450px;
    padding: 50px 18%;
    box-sizing: border-box;
}

.MIS article {
    background: hsla(0, 0%, 0%, 0.8);
    color: #ffffff;
    padding: 50px 0;
}

.MIS article h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.MIS article p {
    text-align: justify;
    padding: 0 15%;
    font-family: 'Lato', sans-serif;
}

.ERP {
    background: #16B09A;
    padding: 50px 15%;
    margin: 0;
}

.ERP article {
    padding-right: 250px;
}

.ERP article h2 {
    text-align: center;
    padding: 15px 0;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.ERP img {
    margin-top: 18px;
    height: 270px;
}

.ERP article p {
    color: #fafafa;
}

.CRM section h2 {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
}

.CRM section h3.tit {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.CRM section p.desc {
    text-align: justify;
    font-size: 1em;
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
}

.componentes {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-around;
}

.caja {
    position: relative;
    width: 263px;
    height: 350px;
    margin: 15px;
    background: #000000;
    box-shadow: 0 10px 10px rgba(95, 95, 95, 0.5);
}

.caja .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.caja .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.caja:hover .imgBx img {
    opacity: 0;
}

.caja .contenido {
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.caja:hover .contenido {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: #ffffff;
}

.caja .contenido h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}

.caja .contenido p {
    margin: 10px 0 0 0;
    opacity: 0;
    /*line-height: 1.2em;*/
    transition: 0.5s;
    text-align: center;
}

.caja:hover .contenido p {
    opacity: 1;
    transition-delay: 0.25s;
    color: #000000;
}