*{
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto', sans-serif; 
    /* font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;*/
    
}

nav {
    width: 100%;
    height: auto;
    background-color: #002F62;
    padding: 0 100px;
    box-sizing: border-box;
}

nav h1 {
    margin: 0;
    padding: 18px 20px;
    float: left;
    color: #ffffff;
}

#logo{
    margin: 0;
    padding: 10px 20px;
    width: 45px;
    height: auto;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 30px;
    transition: .5%;
}

nav ul a li {
    color: #ffffff;
    text-decoration: none;
}

nav ul li:hover{
    background: #4CBED8;

}

header{
    background-image: url('../images/background.png');
    background-size: cover;                         /* La imagen de fondo cubre todo el espacio sin dejar huecos por su tamaÃ±o */
    /*height: 500px;*/
    padding: 70px 18%;
    box-sizing: border-box;
}

#frase{
    background-color: rgba(76, 190, 216, 0.7);
    color: #ffffff;
    padding: 10px 5px;
    text-align: center;
    font-size: 50px;
}

section.definicion{
    background: #C2D8F0;
    padding: 50px 10%;
}

section img {
    height: 250px;
}

section.definicion article {
    text-align: center;
    padding: 12px 470px 12px 0px;
}

section.definicion article h2 {
    padding: 25px 0;
    color: #001a36;
    font-size: 1.8em;
}

section.definicion article p {
    padding: 25px 30px;
    font-size: 1.2em;
}

section.implementacion{
    background: #E2E3E5;
    padding: 30px 18%;
}

section.implementacion article {
    text-align: center;
    padding: 30px 0px 30px 350px;
}

section.implementacion article h2 {
    padding: 25px 0;
    color: #000000;
    font-size: 1.8em;
}

section.implementacion article p {
    padding: 25px 30px;
}

section.implementacion img {
    border-radius: 45%;
}

.derecha {
    float: right;
}

.izquierda {
    float: left;
}

